{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
{% include 'xtra-content-capture-page' %}
{% capture xtra_content %}
    {% section 'dyno-xtra-page' %}
{% endcapture %}

{% capture primary_template_content %}
    {% section 'page' %}
{% endcapture %}

{% include 'template-content-replace' %}
{% assign primary_template_content = primary_template_content | replace: "%%XTRA-PAGE%%", xtra_content %}

{{primary_template_content}}

